.bg-custom {
    background-color: #5195ee; /* Remplacez cette valeur par la couleur de votre choix */
}

.navbar-nav .nav-link {
    transition: color 0.3s;
    transition: text-decoration 0.3s;
    text-decoration: none; /* Assurez-vous que la décoration de texte est initialement désactivée */
  }
  
  .navbar-nav .nav-link:hover,
  .navbar-nav .nav-link:focus {
    color: #f6ff00; /* Couleur de surbrillance de votre choix */
    text-decoration: underline; /* Activez la décoration de texte pour créer l'effet de soulignement */
  }


  
  